html,
body,
#root {
    height: 100%;
    margin: 0;
    background-color: #2f3b4c;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.main-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
